@media (min-width: 576px) {
    .movie-detail-container {
        display: flex;
        justify-content: space-between;
        .poster {
            flex: 1;
            .poster-image {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
        .movie-body-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 2;
        }
    }
}
